/* Estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #f00; /* Vermelho */
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

/* Estilo para o título */
h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
    color: #f00;
}

/* Estilos de parágrafo e lista */
p, ul {
    font-size: 1.1em;
    margin: 20px;
}

ul li {
    margin-bottom: 10px;
}

/* Formulário de contato */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    border: 1px solid #ddd;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #f00;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #c00;
}

/* Rodapé */
footer {
    text-align: center;
    background-color: #f00;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
